* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-main: #0b0f15;
  --bg-card: #161b22;
  --primary: #259771;
  --primary-hover: #34d399;
  --text-main: #f3f4f6;
  --text-muted: #9ca3af;
  --border-color: #30363d;
}

body {
  background-color: var(--bg-main);
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4 {
  color: var(--text-main);
}

strong {
  color: var(--primary);
  font-size: 13px;
}

span {
  color: var(--primary-hover);
}

p {
  color: var(--text-muted);
}
